// default code that resets any sizing
@use "colors" as a;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  color: a.$light-color;
  font-family: "SourceSans", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  background: a.$dominant-color;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.hidden {
  display: none !important;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    //transform: translateY(15px);
    transform: rotateY(15deg);
  }
  to {
    opacity: 1;
    //transform: translateY(0px);
    transform: rotateY(0deg);
  }
}

.wrapper {
  animation: transitionIn 0.5s;
}
