@use '../abstracts' as a;

* {
    margin: 0;
    padding: 0;
    color: a.$light-color;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: a.$dominant-color;  
}
