// default code that resets any sizing 
@use 'colors' as a;

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    color: a.$light-color;
    font-family: "SourceSans";
}

html {
    scroll-behavior: smooth;
    color-scheme: dark light;
}

body {
    min-height: 100vh;
    background: a.$dominant-color;  
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}