@use "../../abstracts" as a;

.features {
  margin-top: 2vh;
  width: 75vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  input {
    all: unset;
    cursor: pointer;
    transition: 0.3s;
    background: rgba(a.$accent-color, 0.75);
    font-size: calc(a.$body-font-size - 0.25rem);
    border-radius: 6px;
    padding: 12px 16px;
    &:hover {
      background: a.$accent-color;
    }
  }
}

.main-menu-button {
  position: fixed;
  top: 4vw;
  left: 4vw;
  font-size: calc(a.$header-font-size - 1.5rem);
  text-decoration: none;
  font-weight: bold;
}

.hint {
  font-size: calc(a.$body-font-size - 0.1rem);
}

.hint__link {
  all: unset;
  transition: 0.2s;
  font-weight: bold;
  color: a.$accent-color;
  border-bottom: solid 2px transparent;
  &:hover {
    cursor: pointer;
    border-color: a.$accent-color;
  }
}
