@use "../../abstracts" as a;

.features {
  margin-top: 2vh;
  width: 75vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  input, .submit-button {
    all: unset;
    cursor: pointer;
    transition: 0.3s;
    background: rgba(a.$accent-color, 0.75);
    font-size: calc(a.$body-font-size - 0.25rem);
    border-radius: 6px;
    padding: 12px 16px;
    &:hover {
      background: a.$accent-color;
    }
  }
}

.main-menu-button {
  position: fixed;
  top: 4vw;
  left: 4vw;
  font-size: calc(a.$header-font-size - 1.5rem);
  text-decoration: none;
  font-weight: bold;
}

.hint {
  font-size: calc(a.$body-font-size - 0.1rem);
}

.hint__link, .video-link {
  all: unset;
  transition: 0.2s;
  font-weight: bold;
  color: a.$accent-color;
  border-bottom: solid 2px transparent;
  &:hover {
    cursor: pointer;
    border-color: a.$accent-color;
  }
}

.submit-button.try-again {
  animation: shake 0.5s;
}

@keyframes shake {
  from,to {
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0);
  }
  20%,40%,60%,80% {
    transform: translate3d(2px, 0, 0);
  }
}
