@use "../../abstracts" as a;
.wrapper {
  height: 100vh;
  width: 100%;
}

.container {
  height: 100%;
  @include a.flexCenter();
  flex-direction: column;
  gap: 5vh;
}

.inputs {
  @include a.flexCenter();
  flex-direction: row;
  justify-content: space-around;
  width: 75vw;
}
